@model MasterPieceMVC.Models.Comment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subscriper.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subscriper.userId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Comment_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
