@model IEnumerable<MasterPieceMVC.Models.Subscription>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    #subs {
        color: var(--primary);
        background: #FFFFFF;
        border-color: var(--primary);
    }
    .form-control {
        width: 200px !important;
        display: inline-block;
    }
</style>

<div class="container-fluid pt-4 px-4">
    <h4>Subscriptions</h4>
    @using (Html.BeginForm("Index", "Subscriptions", FormMethod.Get))
    {
 
        @Html.TextBox("search", "Email", new { @class = "form-control" })
        <input id="Button1" type="submit" value="search" class="btn btn-primary" />
    }
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <br />
    <div class="table-responsive">
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AspNetUser.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subscription_Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subscription_Beg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subscription_End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subscription_Amount)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {

                DateTime dateBeg = Convert.ToDateTime(item.Subscription_Beg);
                string dateBeg2 = dateBeg.ToString("dd/MM/yyyy");


                DateTime dateEnd = Convert.ToDateTime(item.Subscription_Beg);
                string dateEnd2 = dateBeg.ToString("dd/MM/yyyy");
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subscription_Duration) days
                    </td>
                    <td>
                        @dateBeg2
                    </td>
                    <td>
                        @dateEnd2
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subscription_Amount) JD
                    </td>

                    <td>

                        @Html.ActionLink("Details", "Details", new { id = item.Subscription_Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Subscription_Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>