@model IEnumerable<MasterPieceMVC.Models.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<style>
    #service {
        color: var(--primary);
        background: #FFFFFF;
        border-color: var(--primary);
    }
</style>

<div class="container-fluid pt-4 px-4">

    <div>
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="mb-0">Services</h4>

        </div>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="table-responsive">

            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Service_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Service_Photo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Slider_Photo)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Service_Name)
                        </td>
                        <td>
                            <img src="~/pic/@item.Service_Photo" width="50" style="border-radius:5px" />
                        </td>
                        <td>
                            <img src="~/pic/@item.Slider_Photo" width="150" style="border-radius:5px" />
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Service_Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Service_Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Service_Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>