@model MasterPieceMVC.Models.Subscriper

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <h2>Details</h2>

    <div>
        <h4>Subscriper</h4>
        <hr />

        <table class="table">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.First_Name)
                </td>

                <td>
                    @Html.DisplayFor(model => model.First_Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Last_Name)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Last_Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Subscriper_Photo)
                </td>

                <td>
                    <img src="~/pic/@Model.Subscriper_Photo" width="50" alt="Alternate Text" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Location)
                </td>

                <td>
                    @Html.DisplayFor(model => model.AspNetUser.Location)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Service_Description)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Service_Description)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Beg_Time)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Beg_Time)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.End_Time)
                </td>

                <td>
                    @Html.DisplayFor(model => model.End_Time)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Status)
                </td>

                <td>
                    @{ if (Model.Status == true)
                        {
                            <p>متاح</p>
                        }
                        else
                        {
                            <p>غير متاح</p>
                        }
                    }
                </td>
            </tr>

            <tr>
        <td>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </td>

        <td>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </td>
        </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Service.Service_Name)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Service.Service_Name)
                </td>
            </tr>

        </table>
    </div>
    <p>
     
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>