@model IEnumerable<MasterPieceMVC.Models.Subscriper>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
    .form-control {
        width: 200px !important;
        display: inline-block;
    }

    .thumbnail {
        top: -50px;
        left: -35px;
        display: block;
        z-index: 999;
        cursor: pointer;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
    }


        .thumbnail:hover {
            transform: scale(5);
        }
</style>
<div class="container-fluid pt-4 px-4">
    <h4>Subscripers</h4>
    @using (Html.BeginForm("Index", "Subscripers", FormMethod.Get))
    {

        @Html.RadioButton("searchby", "First_Name", true) <text>First Name</text>
        @Html.RadioButton("searchby", "userId", true) <text>Location</text>
        @Html.TextBox("search", "", new { @class = "form-control" })
        <input id="Button1" type="submit" value="search" class="btn btn-primary" />
    }
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <br />
    <div class="table-responsive">
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Last_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subscriper_Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.AspNetUser.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Service.Service_Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.First_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Last_Name)
                    </td>
                    <td>
                        <img class="thumbnail" src="~/pic/@item.Subscriper_Photo" width="50" alt="Alternate Text" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.Location)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Service.Service_Name)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Subscriper_Id }) |*@
                        @Html.ActionLink("Details", "Details", new { id = item.Subscriper_Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Subscriper_Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>