@model MasterPieceMVC.Models.Subscriper

@{
    ViewBag.Title = "SubProfile";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<br />

<style>
        #row {
            text-align: right;
            border: solid #E6E6E6 1px;
            border-radius: 4px;
            width: 100%;
        }

        .card-body {
            border-top: 1px #E6E6E6 solid;
        }

        #text {
            font-size: 20px;
        }

        .link-muted {
            color: #aaa;
        }

            .link-muted:hover {
                color: #1266f1;
            }

        .me-3 {
            margin-left: 1rem;
        }

        .checked {
            color: orange;
        }
    h2 {
        text-align: center;
    }

        @@media (min-width: 1200px) {
            .col-xl-7 {
                flex: 0 0 auto;
                width: 100%;
            }
        }

        .con {
            display: flex;
        }

        ::placeholder {
            text-align: right;
        }

        #img {
            border: 1px solid #E6E6E6;
        }

    @@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
        #row {
           display:flex;
           flex-direction:column-reverse;
        }

        .rev {
            display: flex;
            flex-direction: column-reverse;
        }

        .line {
            white-space: nowrap;
            overflow: auto;
            text-overflow: clip;
            overflow-y: scroll;
        }

        .pad {
            padding: 10px !important;
        }

    }

</style>

<div class="container">
    <div id="row" class="row">

        <div id="text" class="col-md-7">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back">
                        <a href="/Subscripers/EditSubProfile" style="color: black;"><i class="fa-solid fa-pen-to-square"></i></a>
                    </div>
                </div>

                <div class="row mt-3 rev">
                    <div class="col-md-8">
                        @Model.AspNetUser.Location

                    </div>
                    <div class="col-md-4">
                        مكان الاقامة
                    </div>
                </div>
                <hr />
                <div class="row mt-3 rev">
                    <div class="col-md-8">
                        @Model.AspNetUser.PhoneNumber
                    </div>
                    <div class="col-md-4">
                        رقم الهاتف
                    </div>
                </div>
                <hr />
                <div class="row mt-3 rev">
                    <div class="col-md-8">
                        @Model.AverageHourlyRate JD
                    </div>
                    <div class="col-md-4">
                        متوسط سعر الساعة
                    </div>
                </div>
                <hr />
                <div class="row mt-3 rev">
                    <div class="col-md-8">
                        @Model.Beg_Time -  @Model.End_Time
                    </div>
                    <div class="col-md-4">
                        ساعات العمل
                    </div>
                </div>
                <hr />
                @{
                    var id = Model.Subscriper_Id;
                    MasterPieceMVC.Models.MyMasterPieceEntities db = new MasterPieceMVC.Models.MyMasterPieceEntities();
                    var numOfClient = db.Requests.Where(x => x.Subscriper_Id == id).Count();
                }
                <div class="row mt-3 rev">
                    <div class="col-md-8">
                        @numOfClient

                    </div>
                    <div class="col-md-4">
                        عدد العملاء
                    </div>
                </div>
                <hr />
                <div class="row mt-3 rev">
                    <div class="col-md-8">
                        @Model.Service.Service_Name
                    </div>
                    <div class="col-md-4">
                        الخدمة
                    </div>
                </div>
                <hr />
                <div class="row mt-3 rev">
                    <div class="col-md-8">
                        @Model.Service_Description

                    </div>
                    <div class="col-md-4">
                        وصف الخدمة
                    </div>
                </div>

                <div class="mt-5 text-right">
                </div>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">


                <img id="img" class="rounded-circle mt-5" src="~/pic/@Model.Subscriper_Photo" width="310" height="300"><span class="font-weight-bold">@Model.Last_Name @Model.First_Name </span><span class="text-black-50">@Model.AspNetUser.Email</span>
                <div style="text-align: right;">
                    @{

                        var count = db.Comments.Where(x => x.Subscriper_Id == Model.Subscriper_Id).Select(x => x.Rate).ToList().Count();
                        var sum = db.Comments.Where(x => x.Subscriper_Id == Model.Subscriper_Id).Select(x => x.Rate).ToList().Sum();

                        if (count == 0)
                        {
                            count = 1;
                        }
                        var avr = sum / count;


                    }
                    @for (int i = 0; i < avr; i++)
                    {
                        <span class="fa fa-star checked"></span>
                    }
                    @for (int i = 0; i < (5 - avr); i++)
                    {
                        <span class="fa fa-star"></span>
                    }


                </div>
                <br />
                <select id="myDropdown" style="width: 25%;" class="form-select">
                    @if (Model.Status == true)
                    {
                        <option value="True" selected>متاح</option>
                        <option value="False">غير متاح</option>
                    }
                    @if (Model.Status == false)
                    {
                        <option value="True">متاح</option>
                        <option value="False" selected>غير متاح</option>
                    }
                </select>
            </div>
        </div>
    </div>

    @{
        var user = User.Identity.Name;

        var request = db.Requests.Where(x => x.AspNetUser.Email == user).OrderByDescending(o => o.Request_Date);

    }
    <div class="container my-5 py-5 text-dark">
        <h2>سجل الطلبات</h2>
        <br />
        <div class="row d-flex justify-content-center">
            @{ if (request == null || !request.Any())
                {
                    <p style="text-align:center">لا يوجد طلبات </p>
                }
                else
                {
                    foreach (var item in request)
                    {
                        <div class="d-flex flex-start mb-4">

                            <div class="card w-100 line">
                                <div class="card-body p-4">
                                    <div class="con">

                                        <div class="col-md-2 pad" style="text-align: right;">

                                            @if (item.Accept == true)
                                            {<h5 style="color:green;">مقبول</h5>}
                                            @if (item.Accept == false)
                                            {<h5 style="color:red">مرفوض</h5>}
                                            @if (item.Accept == null)
                                            {<h5>....قيد القبول</h5>}


                                        </div>
                                        <div class="col-md-4 pad" style="text-align: right;">
                                            <h5>رقم الهاتف: @item.Subscriper.AspNetUser.PhoneNumber</h5>

                                        </div>
                                        <div class="col-md-3 pad">
                                            <h5>@item.Subscriper.Last_Name @item.Subscriper.First_Name</h5>
                                        </div>
                                        <div class="col-md-3 pad">
                                            <h5>@item.Request_Date</h5>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                    }
                }

                </div>
    </div>




</div>



<script>
    $("#myDropdown").change(function () {
        // Get the selected value
        var selectedValue = $(this).val();

        // Make an AJAX call to the server to update the database value
        $.ajax({
            url: "/Subscripers/UpdateValue",
            type: "POST",
            data: { selectedValue: selectedValue },
            success: function (result) {
                // Handle the success response
            },
            error: function (xhr, status, error) {
                // Handle the error response
            }
        });
    });
</script>
<br />
<br />

